<div class="panel panel-info">
	<div class="panel-heading">
		<%= link_to edit_task_path(task)  do %>
			<span data-toggle="tooltip" data-placement="right" data-html="true" title="Edit Task">Created <%= time_ago_in_words(task.created_at) %> ago</span>
		<% end %>

		<%= link_to '<i class="fa fa-times" data-toggle="tooltip" data-placement="right" data-html="true" title="Erase Task"></i>'.html_safe, task_path(task), method: :delete, data: {confirm: 'Are you sure?'}, class: 'pull-right' %>

	</div>
	<div class="panel-body"><%= raw(task.content_html) %></div>
	<div class="panel-footer text-center">
		<% if task.state == "doing" %>
			<div class="btn-group btn-group-justified">
	  		<%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "to_do"), method: :put, class: 'btn btn-info btn-block' %>
	  		<%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "done"), method: :put, class: 'btn btn-info btn-block' %>
	  	</div>
	  <% elsif task.state == "done" %>
	  	<%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "doing"), method: :put, class: 'btn btn-info btn-block' %>
	  <% elsif task.state == "to_do" %>
	  	<%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "doing"), method: :put, class: 'btn btn-info btn-block' %>
	  <% end %>

	</div>
</div>